* {
  outline: none;
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.87);
  background-color: transparent;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100%;
  background-color: transparent;
  overflow: hidden;
}

.app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 48px;
  width: 820px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.logo {
  font-size: 6rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -0.05em;
  background: linear-gradient(135deg, #a78bfa 0%, #4f46e5 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.subtitle {
  color: rgba(196, 181, 253, 0.6);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}
